{% load static %}
<div class="collapse bg-gradient-cyan" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Your Current Location</h4>
          <p class=" location">
            <strong>{{ address }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-light bg-lightblue shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="{% static 'images/map-location.png' %}">
        <strong>{{ city }}</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>