{% load static %}
 <div class="row" >
      <div >
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search"  aria-label="Search">
              <button class="btn btn-outline-primary my-2" type="submit">Search</button>
          </form>
      </div>
       <div class="col-lg-4">
            <img src="{% static 'images/add-to-cart.png' %}">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="col-lg-4" >
        <a href="{% url 'customer_register' %}" class="btn btn-outline-primary my-2" >Sign Up</a>
        <a href="{% url 'customer_login' %}" class="btn btn-outline-success my-2">Sign In</a>
      </div>
    </div>