{% extends 'common.html' %}

{% block common %}

<div class="login-box" style="padding-top: 50px;">
  <!-- /.login-logo -->
  <div class="card" >
    <div class="card-body login-card-body" style="background-color: lightblue;border-radius: 10px;border-style: solid;border-color: black">
      <p class="login-box-msg">Admin Sign in </p>

      <form action="{% url 'myadmin_login_check' %}" method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" required name="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" required name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>



      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p>

      {% if error %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>{{ error }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endif %}

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->



{% endblock %}