
#title{
    text-align: center;
    font-size: 30px;
    color: wheat;
    background-color: maroon;
    font-family: "Agency FB";
    padding: 10px;
}
.msg
{
    text-align: center;
    font-size: 30px;
    color: blue;
    font-family: "Agency FB";
}


.tbl_td
{
    text-align: center;
    font-size: 20px;
}
.tbl_th
{
    text-align: center;
    font-size: 30px;
    color: grey;
}
#v_title{
    text-align: center;
    font-size: 30px;
    color: blue;
}
